/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-*
/spec/dummy/log/*.log
/spec/dummy/storage/
/spec/dummy/tmp/
/.rspec_status
.byebug_history
/.idea/

# Don't commit Gemfile.lock as it prevents testing against different ruby versions
Gemfile.lock
