<h1>katalyst-healthcheck</h1>

<div>
  <b>Routes</b>

  <ul>
    <li><%= link_to "/healthcheck", "/healthcheck" %></li>
    <li><%= link_to "/healthcheck/tasks", "/healthcheck/tasks" %></li>
    <li><%= link_to "/healthcheck/task_details", "/healthcheck/task_details" %></li>
  </ul>
</div>
